<ul>
  {{ randomBeer }}
    <li>
        <img src="{{ image_url }}" alt="{{ name }}">
        <strong>{{ name }}</strong>
        <p>{{ description }}</p>
        <h4> <em> {{ tagline }} </em> </h4>
        <h5> {{ food_pairing}} </h5>
        <p><em> {{ brewers_tips }} </em></p>
        <hr>
    </li>
</ul>